extends ../../layouts/default.pug

block main
    h1.text-center.text-primary Trang tổng quan

    .container.mt-4
        .card.shadow-lg
            .card-header.bg-success.text-white
                h5.mb-0 Thông tin tài khoản
            .card-body
                .row
                    .col-md-3.text-center
                        if (user.avatar)
                            img(
                                src=user.avatar
                                class="rounded-circle border shadow"
                                style="height: 120px; width: 120px; object-fit: cover;"
                            )
                    .col-md-9
                        if (user.fullName)
                            p Họ tên: <b class="text-dark">#{user.fullName}</b>
                        if (user.email)
                            p Email: <b class="text-dark">#{user.email}</b>
                        if (user.phone)
                            p Số điện thoại: <b class="text-dark">#{user.phone}</b>
                        if (role.title)
                            p Phân quyền: <b class="text-danger">#{role.title}</b>